
/* colori */
.blue_text {
  color: #031b4e;
}

.grey_text {
  color: #5b6987;
}

.links {
  color: #1072ff;
}

/* nav bar */
.navbar {
  margin-bottom: 0;
  background-color: #ffffff;
}

nav [class*="col-"] {
  height: 70px;
  line-height: 70px;
}

.logo {
  padding: 0;
  width: 200px;
  background-size: cover;
}

ul.first_nav_l li,
ul.second_nav_l li {
  display: inline-block;
  margin-right: 10px;
}

.btn_1 {
  height: 50px;
  /* background-color: #ffffff; */
  color: #006aff;
  display: inline-block;
  /* border-color: 1px solid #006aff; */

}

.second_nav_l li:last-child {

}

/* jumbotron */
.jumbotron {
  color: white;
  background-image: url(img/jumbotron.svg);
  margin-top: 0;
  margin-bottom: 0;
}

/* form */
.enter {
  width: 350px;
  background-color: white;
  border-radius: 5px;
}

.deploy {
  padding: 10px;
  color: black;
}

.deploy h3:nth-child(2) {
  color: #0060ff;
  margin-top: 0;
}

.form-group {
  padding: 10px;
  margin-top: 0;
}

.form-control {
  margin-top: 10px;
}

[class*="form_control_btn"] {
  height: 30px;
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;

}

.form_control_btn_1 {
  color: white;
  background-color: #006aff;
  border-color: #006aff;
  border: none;
}

.form_control_btn_2 {
  color: black;
  background-color: #ffffff;
}

.logo_google {
  width: 20px;
}


/* sezione partners */
.partners {
  background-color: #f3f5f9;
}

.partners_title {
  margin-top: 50px;
}

.partners_link {
  margin-bottom: 50px;
}

[class*="loghi"] {
  margin-top: 50px;
  margin-bottom: 30px;
}

/* sezione features */
.features_text {
  /* width: 700px; */
  margin: auto;
}


.features_p {
  font-size: 20px;
}

.features_list {
  border-left: 1px solid #5b6987;
  margin-top: 50px;
}

.features_list li {
  margin-bottom: 50px;
}

.up_features {
  margin-bottom: 50px;
}

.down_features {
  margin-bottom: 100px;
}

/* sezione demonstrative */
.demonstrative {
  background-color: #f3f5f9;
}

.demonstrative .grey_text {
  font-size: 15px;
  margin-top: 20px;
}

.pics {
  position: relative;
  height: 600px;
  width: 70%;
  margin:auto;
  margin-top: 50px;
  margin-bottom: 50px;

}

.demos_pics {
  position: relative;
  width: 100%;
}

/* sezione funzionalità */
.title_built {
  margin-bottom: 50px;
}

.infos {
  margin-top: 50px;
  width: 250px;
  margin-bottom: 50px;
}

.infos_1~.infos_2,
.infos_1~.infos_3,
.infos_1~.infos_4 {
  margin-left: 100px;
}

/* sezione account */
.btn_2 {
  float: right;
  vertical-align: middle;
}

.call-to-action {
  height: 200px;
  line-height: 200px;
}

/* footer */
.last_logo {
  height: 70px;
  width: 70px;
  border: 1px solid black;
  background-color: lightcoral;
  display: inline-block;
}

/* altezze e margini */

.header_section [class*="col-"] {
  height: 20px;
}



.m_top50 {
  margin-top: 50px;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {

  /* sezione partners */

}

@media screen and (min-width: 768px) and (max-width: 992px) {

/* nav */
.burger {
  color: #0063ff;
  float: right;
}

/* jumbotron */
.enter {
  width: 280px;
  height: 400px;
}

/* form */
.deploy h4:nth-child(1),
.deploy h4:nth-child(2) {
  padding: 5px;
  font-size: 25px;
  margin-top: 0;
}

.form-control {
  height: 50px;
  margin-top: 10px;
}


}

@media screen and (max-width: 768px) {

  .burger {
    float: right;
    color: #0063ff;
  }

  .jumbo_description {
    text-align: center;
  }

  .enter {
    height: 450px;
    position: relative;
    margin: auto;
  }

  /* features & demonstrative */
  .features_p,
  .demonstrative .grey_text  {
    font-size: 25px;
  }


  .demonstrative .grey_text {
    font-size: 25px;
  }
}
